[data-md-color-scheme="slate"] {
  --color-accent: #fcba03;
  --color-dark: #fcba03;
  --color-light: #fcba03;
  --md-typeset-a-color:var(--color-dark);
  --md-typeset-a-hl-color:var(--color-accent);
  --md-typeset-a-color--light:var(--color-accent);
  --md-typeset-a-hl-color--light:var(--color-dark);
  --md-typeset-a-color--dark:var(--color-light);
}


.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
