:root > * {
  --md-typeset-a-color:#FF6E42;
}

/* To remove indigo default color for links */
[data-md-color-scheme="slate"][data-md-color-primary="black"] {
  --md-typeset-a-color:#fcba03;
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
